<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gohool.login.sampledisplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pain_killer_ayurvedic"></activity>
        <activity android:name=".Blood_pressure_ayurvedic" />
        <activity android:name=".AntiDiabetic_ayurvedic" />
        <activity android:name=".Ayurvedic_medicines" />
        <activity android:name=".glimestar" />
        <activity android:name=".PainKiller" />
        <activity android:name=".Cholestrol" />
        <activity android:name=".AntiAllergic" />
        <activity android:name=".AntiInfective" />
        <activity android:name=".AntiBiotic" />
        <activity android:name=".HyperTension" />
        <activity android:name=".AntiDiabetic" />
        <activity android:name=".Allopathic_medicines" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>